body {
  height: 98vh;
  background-color: #2e2e2e;
  font-family: "Titillium Web", sans-serif;
}

h3 {
  text-align: center;
}

.grid {
  display: flex;
  height: 100%;
}

.pane {
  flex: 1;
  height: 100%;
}

.highlight{
    background-color:#FF9;
    color:#555;
}

#left {
  flex: 2;
}

#right {
  flex: 1;
  border-radius: 0.5em;
  border: 3px solid #424242;
  background-color: #6e6e6e;
  color: #e8e8e8;
  font-size: 1em;
  font-family: Verdana, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

#input-topic-container {
   border: 7px solid #ff8000;
   border-radius: 0.5em;
   background-color: rgba(0, 0, 0, 0);
   padding: 0.25em;
   margin: auto;
   outline: none;
   overflow: hidden;
   color: #ff8000;
   font-size: 2em;
}


#input-topic {
   max-width: 100%;
   text-align: center;
   border: 1px solid #aaaaaa;
}

#searched-container {
	max-width:100%;
	display:inline-block;
}

.searched-topic-container {
	display:inline-block;
	background-color:rgba(100,100,100,0.8);
	height:1.5em;
	margin:10px;
}

.searched-topic-text {
	float:left;
	margin-left:10px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%); 
}

.remove-search-topic {
	width:15px;
	height:15px;
	display:inline-block;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%); 
	margin:0 5px 0 5px;
	background-image:url('gray_x.png');
	background-size:cover;
}

#topics {
  text-align: center;
	height:90%;
}

.node circle {
  stroke: rgb(255, 128, 0);
  stroke-width: 7px;
}

.node * {
  cursor: pointer;
}

.node tspan {
  fill: rgb(230, 230, 230);
}

.node-link {
  stroke: rgb(255, 128, 0);
  stroke-width: 4px;
}

.sentiment-negative {
	fill: rgba(200,0,0,0.9);
}

.sentiment-neutral {
	fill: rgba(100,100,100,0.9);
}

.sentiment-positive {
	fill: rgba(0,200,0, 0.9);
}

.NA {
	fill: rbga(0,0,0,0);
}

/*------------ Messages styling --------------*/

.messageContainer {
	padding:10px;
	
}

.messageContainerPositive {
	padding:10px;
	border-left: 10px solid green;
}
.messageContainerNegative {
	padding:10px;
	border-left: 10px solid red;
}
