body {
  height: 98vh;
  background-color: #2e2e2e;
  font-family: "Titillium Web", sans-serif;
}

h3 {
  text-align: center;
}

.grid {
  display: flex;
  height: 100%;
}

.pane {
  flex: 1;
  height: 100%;
}

#right {
  border-radius: 0.5em;
  border: 3px solid #424242;
  background-color: #6e6e6e;
  color: #e8e8e8;
  font-size: 1em;
  font-family: Verdana, sans-serif;
  overflow: scroll;
}

#input-topic {
   max-width: 80%;
   padding: 0.25em;
   height: 2em;
   margin: auto;
   outline: none;
   overflow: hidden;
   white-space: nowrap;
   text-align: center;
   border: 7px solid #ff8000;
   border-radius: 0.5em;
   background-color: rgba(0, 0, 0, 0);
   color: #ff8000;
   font-size: 2em;
}

#topics {
  text-align: center;
	height:100%;
}

.node circle {
  stroke: rgb(255, 128, 0);
  stroke-width: 7px;
  fill: rgb(88, 67, 37);
}

.node * {
  cursor: pointer;
}

.node tspan {
  fill: rgb(230, 230, 230);
}

.node-link {
  stroke: rgb(255, 128, 0);
  stroke-width: 4px;
}
